label.error {
    color: red;
    font-weight: normal;
}
#user_picture {
    display: none;
}
.load_file, mark {
    font-weight: normal;
}
.load_file, .image_name {
    width: 280px;
    height: 200px;
    display: inline-block;
    background: no-repeat;
    background-position: center;
    background-image: url(/assets/images/upload_img.png);
    background-size: cover;
    cursor: pointer;
}
.image_name {
    display: none;
}
.file_upload {
    text-align: center;
}
.main_title {
    text-align: center;
    margin: 40px 0 60px 0;
}
.finish_notice {
    display: none;
}
.pagination_nav {
    text-align: center;
}
.sort_arrows {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url("/assets/images/arrow_black.png");
    position: absolute;
    right: 10px;
    cursor: pointer;
}
tr.success th {
    position: relative;
}
.down_arrow {
    bottom: 5px;
    transform: rotate(180deg);
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    z-index: 3;
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    cursor: default;
}

.pagination>li>a, .pagination>li>span, .pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
    color: #444444;
}
.message_img {
    max-width: 100px;
}
tr.success th {
    width: 156px;
}
tr.success th:first-child {
    max-width: 30px;
}
a.login_btn {
    text-align: center;
    display: block;
    margin-top: 30px;
}
#login_notice {
    text-align: center;
    color: red;
}
.errors_image {
    color: red;
    text-align: center;
}
